 html {font-size: 62.5%;}
body {
  background-color: #fdf8f3;
  color: #333333;
  font-family: "Lato", sans-serif;
font-size: 1.6rem;
line-height: 1.6;
}

header,
footer {
  background-color: #4b2e2e;
  color: white;
}
  h1 {
    font-family: "Playfair Display", serif;
    font-size: 3.6rem;
    letter-spacing: 0.05em;
    color: #d2691e;
}

h2 {
    font-family: "Playfair Display", serif;
    font-size: 2.4rem;
    color: #d2691e;
}
}

nav a {
  color: white;
  text-decoration: none;
}
.brand {
    font-family: "Playfair Display", serif;
    font-size: 3.6rem;
    font-weight: 700;
}

.tagline {
  font-style: italic;
}

.price {
  color: #cc6600;
  font-weight: bold;
}
footer {font-size: 1.4rem;}
header ,
footer {
    text-align: center;
}

p {
    text-align: left;
}


